<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.groupware.approval.mybatis.mapper.ApprovalMapper">
	<select id="selectApprovalAllByMemberNo" parameterType="map"
	resultType="com.mjc.groupware.approval.mybatis.vo.ApprovalVo">
	SELECT AA.appr_no, AA.appr_title, AA.appr_reg_date, AA.appr_status,
		       AA.appr_order_status, AA.relationship, AA.member_name,
		       AA.approval_form_name, AA.approver_decision_status
		FROM (
			SELECT W.appr_no ,W.appr_title ,W.appr_reg_date ,W.appr_status
			,W.appr_order_status ,W.relationship ,M.member_name
			,AF.approval_form_name
			,W.approver_order, W.approver_decision_status
			FROM
			(SELECT a.appr_no , a.appr_reg_date
					,a.appr_title,a.appr_status ,a.appr_order_status
					,a.appr_sender ,a.approval_type_no
					,'P' as relationship
					,p.approver_order, p.approver_decision_status
			FROM `approval` a
			JOIN (
				SELECT *
				FROM `appr_approver`
				WHERE approver_no = #{member_no}) p
			ON a.appr_no = p.appr_no
			UNION
			SELECT a.appr_no , a.appr_reg_date
					,a.appr_title ,a.appr_status ,a.appr_order_status
					 ,a.appr_sender ,a.approval_type_no
					,'A' as relationship
					,1 AS approver_order, t.agreementer_agree_status AS approver_decision_status
			FROM `approval` a
			JOIN (SELECT * FROM `appr_agreementer` WHERE agreementer_no = #{member_no}) t ON a.appr_no = t.appr_no
			UNION
			SELECT a.appr_no , a.appr_reg_date
					,a.appr_title ,a.appr_status ,a.appr_order_status
					,a.appr_sender ,a.approval_type_no
					,'R' AS relationship
					,1 AS approver_order, r.referencer_status AS approver_decision_status
			FROM `approval` a
			JOIN (SELECT * FROM `appr_referencer` WHERE referencer_no = #{member_no}) r ON a.appr_no = r.appr_no
				) W
			JOIN `member` M ON W.appr_sender = M.member_no
			JOIN `approval_form` AF ON W.approval_type_no = AF.approval_form_no
		) AA
		<where>
			<if test="search_type == 'appr_title' and search_text != null and search_text != ''">
				AND AA.appr_title LIKE CONCAT('%', #{search_text}, '%')
			</if>
			<if test="search_type == 'member_name' and search_text != null and search_text != ''">
				AND AA.member_name LIKE CONCAT('%', #{search_text}, '%')
			</if>
			<if test="search_type == 'approval_form_name' and search_text != null and search_text != ''">
				AND AA.approval_form_name LIKE CONCAT('%', #{search_text}, '%')
			</if>
			<if test="search_status != null and search_status != ''">
				<choose>
					<when test='search_status == "P"'>
						AND AA.relationship = 'P'
						AND AA.approver_order = AA.appr_order_status
						AND (AA.approver_decision_status = 'W' OR AA.approver_decision_status IS NULL)
						AND AA.appr_status NOT IN ('C', 'R')
					</when>
					<when test='search_status == "C"'>
						AND (AA.appr_status = 'C' OR AA.approver_decision_status = 'C')
					</when>
					<otherwise>
						AND AA.relationship = #{search_status}
					</otherwise>
				</choose>
		    </if>
			<if test="start_date != null and start_date != ''">
				AND AA.appr_reg_date &gt;= CONCAT(#{start_date}, ' 00:00:00')
			</if>
			<if test="end_date != null and end_date != ''">
				AND AA.appr_reg_date &lt;= CONCAT(#{end_date}, ' 23:59:59')
			</if>
		</where>
		<choose>
		  <when test="order_type == 1">
		    ORDER BY AA.appr_reg_date DESC
		  </when>
		  <when test="order_type == 2">
		    ORDER BY AA.appr_reg_date ASC
		  </when>
		  <otherwise>
		    ORDER BY AA.appr_reg_date DESC
		  </otherwise>
		</choose>
	</select>
	
	<select id="selectApprovalStatusByMemberNo" parameterType="map"
	resultType="com.mjc.groupware.approval.mybatis.vo.ApprovalStatusVo">
	SELECT
	  SUM(CASE WHEN W.relationship = 'P' 
	            AND W.approver_order = W.appr_order_status 
	            AND (W.approver_decision_status = 'W' OR W.approver_decision_status IS NULL) 
	            AND W.appr_status NOT IN ('C', 'R') 
	           THEN 1 ELSE 0 END) AS P_count,
	  SUM(CASE WHEN W.relationship = 'A' THEN 1 ELSE 0 END) AS A_count,
	  SUM(CASE WHEN W.relationship = 'R' THEN 1 ELSE 0 END) AS R_count,
	  SUM(CASE WHEN W.appr_status = 'C' OR W.approver_decision_status = 'C' THEN 1 ELSE 0 END) AS C_count
	FROM (
	    SELECT a.appr_no, a.appr_status, a.appr_order_status, 'P' AS relationship,
	           p.approver_order, p.approver_decision_status
	    FROM `approval` a
	    JOIN (
	        SELECT * 
	        FROM `appr_approver` 
	        WHERE approver_no = #{member_no}
	    ) p ON a.appr_no = p.appr_no

	    UNION ALL

	    SELECT a.appr_no, a.appr_status, a.appr_order_status, 'A' AS relationship,
	           1 AS approver_order, t.agreementer_agree_status AS approver_decision_status
	    FROM `approval` a
	    JOIN (SELECT * FROM `appr_agreementer` WHERE agreementer_no = #{member_no}) t ON a.appr_no = t.appr_no

	    UNION ALL

	    SELECT a.appr_no, a.appr_status, a.appr_order_status, 'R' AS relationship,
	           1 AS approver_order, 'R' AS approver_decision_status
	    FROM `approval` a
	    JOIN (SELECT * FROM `appr_referencer` WHERE referencer_no = #{member_no}) r ON a.appr_no = r.appr_no
	) W;
	</select>
</mapper>