<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="navLayout">

		<link rel="stylesheet" th:href="@{/css/cjs/nav.css}" />
				
          <!-- Sidebar navigation-->
          <nav id="sidebarnavh" class="sidebar-nav scroll-sidebar container-fluid">
            <ul id="sidebarnav" style="display: flex; justify-content: center;">
              <!-- ============================= -->
              <!-- Home -->
              <!-- ============================= -->
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <!-- =================== -->
              <!-- Dashboard -->
              <!-- =================== -->
              <li class="sidebar-item">
	              <a class="sidebar-link" th:href="@{/home}" aria-expanded="false">
	                <span>
	                  <i class="ti ti-home-2"></i>
	                </span>
	                <span class="hide-menu">Home</span>
	              </a>
              </li>
	   		  
	   		  <!-- ============================= -->
              <!-- 접근 :: 일반사원, 결재담당자, 최고관리자 -->
              <!-- ============================= -->
              
              <th:block th:each="funcNo : ${accessibleFuncNoList}">
		      	<th:block th:if="${funcNo == 17}">
		      		<li class="sidebar-item">
	                    <a th:href="@{/approval}" class="sidebar-link">
	                      <i class="ti ti-file-text"></i>
	                      <span class="hide-menu">전자결재</span>
	                    </a>
                  	</li>
		      	</th:block>
		      </th:block>
	   		  
	   		  <!-- ============================= -->
              <!-- 접근 :: 일반사원, 근태담당자, 최고관리자 -->
              <!-- ============================= -->
              
              <th:block th:each="funcNo : ${accessibleFuncNoList}">
		      	<th:block th:if="${funcNo == 19}">
		      		<li class="sidebar-item">
	                    <a th:href="@{/attendance/info}" class="sidebar-link">
	                      <i class="ti ti-clock"></i>
	                      <span class="hide-menu">근무이력</span>
	                    </a>
                  	</li>
		      	</th:block>
		      </th:block>
	   		  
	   		  <!-- ============================= -->
              <!-- 접근 :: 일반사원, 최고관리자 -->
              <!-- ============================= -->
	   		  
	   		  <th:block th:each="funcNo : ${accessibleFuncNoList}">
		      	<th:block th:if="${funcNo == 20}">
		      		<li class="sidebar-item">
              			<a th:href="@{/calendar}" class="sidebar-link">
                			<i class="ti ti-calendar"></i>
                			<span class="hide-menu">일정</span>
                		</a>
              		</li>
		      	</th:block>
		      </th:block>
	   		  
              <!-- ============================= -->
              <!-- 접근 :: 일반사원, 최고관리자 -->
              <!-- ============================= -->
              
              <th:block th:each="funcNo : ${accessibleFuncNoList}">
		      	<th:block th:if="${funcNo == 21}">
	            	<li class="sidebar-item">
		              	<a th:href="@{/chat}" class="sidebar-link">
		                	<i class="ti ti-brand-telegram"></i>
		              		<span class="hide-menu">채팅</span>
		              	</a>
	              	</li>
	             </th:block>
	          </th:block>
	          
	          <!-- ============================= -->
              <!-- 접근 :: 일반사원, 최고관리자 -->
              <!-- ============================= -->
              
              <th:block th:if="${funcStatusMap[22L]} == 1">
	              <th:block th:each="funcNo : ${accessibleFuncNoList}">
			      	<th:block th:if="${funcNo == 22}">
		            	<li class="sidebar-item">
		                	<a th:href="@{/shared}"class="sidebar-link">
		                    	<i class="ti ti-file"></i>
		                    	<span class="hide-menu">공유문서함</span>
		                    </a>
		             	</li>
		             </th:block>
		          </th:block>
              </th:block>
	   		  
	   		  <!-- ============================= -->
              <!-- 접근 :: 일반사원, 게시판담당자, 최고관리자 -->
              <!-- ============================= -->
              
              <th:block th:if="${boardMenu}">
		            	<th:block th:each="funcNo : ${accessibleFuncNoList}">
			      			<th:block th:if="${funcNo == 24}">
			      				<li class="sidebar-item">
				                    <a th:href="@{/notice}" class="sidebar-link">
				                      <i class="ti ti-alert-circle"></i>
				                      <span class="hide-menu">공지사항</span>
				                    </a>
			                  	</li>
			      			</th:block>
			      		</th:block>
			      		<th:block th:each="funcNo : ${accessibleFuncNoList}">
			      			<th:block th:if="${funcNo == 26}">
			                  	<li class="sidebar-item">
				                    <a th:href="@{/board/list}" class="sidebar-link">
				                    	<i class="ti ti-clipboard-text"></i>
				                    	<span class="hide-menu">자유게시판</span>
				                    </a>
			                  	</li>
			      			</th:block>
			      		</th:block>
              </th:block>
	   		  
	   		  <!-- ============================= -->
              <!-- 접근 :: 일반사원, 회의실담당자, 최고관리자 -->
              <!-- ============================= -->
              
              <th:block th:if="${additionalMenu and (funcStatusMap[29L] == 1 or funcStatusMap[31L] == 1)}">
	              <li class="sidebar-item">
		          	<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
		            	<span class="rounded-3">
		                	<i class="ti ti-apps"></i>
		                </span>
		                <span class="hide-menu">부가기능</span>
		           	</a>
		            <ul aria-expanded="false" class="collapse first-level">
			            <th:block th:if="${funcStatusMap[29L]} == 1">
			            	<th:block th:each="funcNo : ${accessibleFuncNoList}">
					      		<th:block th:if="${funcNo == 29}">
						      		<li class="sidebar-item">
					                    <a th:href="@{/meetingRoom}" class="sidebar-link inner-sidebar-item">
					                    	<i class="ti ti-calendar-event"></i>
					                    	<span class="hide-menu">회의실예약</span>
					                    </a>
				                  	</li>
					      		</th:block>
			            	</th:block>
				      	</th:block>
				      	<th:block th:if="${funcStatusMap[31L]} == 1">
					      	<th:block th:each="funcNo : ${accessibleFuncNoList}">
					      		<th:block th:if="${funcNo == 31}">
				                  	<li class="sidebar-item">
					                	<a th:href="@{/accommodation}" class="sidebar-link inner-sidebar-item">
					                    	<i class="fas fa-hands-helping"></i>
					                    	<span class="hide-menu">사내복지</span>
					                    </a>
					            	</li>
					      		</th:block>
					      	</th:block>
				      	</th:block>
		    		</ul>
		   		  </li>
              </th:block>
 				
			  <!-- =================== -->
		      <!-- 설정 메뉴 :: 특정 권한이 있어야만 접근할 수 있음 -->
		      <!-- =================== -->
		      
 			  <th:block th:if="${#authentication.principal.member.role.roleNo == 1 or showSettingMenu}">	
 				<li class="sidebar-item">
 					<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
 						<span class="rounded-3">
                    		<i class="ti ti-settings"></i>
                  		</span>
                  		<span class="hide-menu">설정</span>
 					</a>

 					<ul aria-expanded="false" class="collapse first-level">
 					
 					  <!-- =================== -->
		              <!-- 접근 :: 최고관리자 -->
		              <!-- =================== -->
 					
	                  <th:block th:if="${#authentication.principal.member.role.roleNo == 1}">
		              	<li class="sidebar-item">
		                	<a class="sidebar-link inner-sidebar-item" href="javascript:void(0)" aria-expanded="false">
		                  		<span class="rounded-3">
		                    		<i class="ti ti-settings"></i>
		                  		</span>
		                  		<span class="hide-menu">관리 : 그룹웨어</span>
		                	</a>
			                <ul aria-expanded="false" class="collapse second-level">
			                  <li class="sidebar-item">
			                    <a th:href="@{/admin/company}" class="sidebar-link inner-sidebar-item">
			                      <i class="ti ti-tools"></i>
			                      <span class="hide-menu">사이트설정</span>
			                    </a>
			                  </li>
			                </ul>
		              	</li>
		              </th:block>
		              
		              <!-- =================== -->
		              <!-- 접근 :: 인사담당자, 최고관리자 -->
		              <!-- =================== -->
		              
		              <th:block th:if="${showHrMenu}">

				                <th:block th:each="funcNo : ${accessibleFuncNoList}">
				                	<th:block th:if="${funcNo == 12}">
					                	<li class="sidebar-item">
					                    	<a th:href="@{/admin/member/create}" class="sidebar-link inner-sidebar-item">
					                      		<i class="ti ti-id"></i>
					                      		<span class="hide-menu">사원등록</span>
					                    	</a>
					                  	</li>
				                	</th:block>
				                </th:block>
				                <th:block th:each="funcNo : ${accessibleFuncNoList}">
				                	<th:block th:if="${funcNo == 13}">
					                  	<li class="sidebar-item">
					                    	<a th:href="@{/admin/dept/create}" class="sidebar-link inner-sidebar-item">
					                     		<i class="ti ti-building"></i>
					                      		<span class="hide-menu">부서관리</span>
					                    	</a>
					                  	</li>
				                	</th:block>
				                </th:block>
				                <th:block th:each="funcNo : ${accessibleFuncNoList}">
				                	<th:block th:if="${funcNo == 14}">
					                  	<li class="sidebar-item">
					                    	<a th:href="@{/admin/pos/create}" class="sidebar-link inner-sidebar-item">
					                      		<i class="ti ti-badge"></i>
					                      		<span class="hide-menu">직급관리</span>
					                    	</a>
					                  	</li>
				                	</th:block>
				                </th:block>
				                <th:block th:each="funcNo : ${accessibleFuncNoList}">
				                	<th:block th:if="${funcNo == 15}">
					                  	<li class="sidebar-item">
					                    	<a th:href="@{/admin/member}" class="sidebar-link inner-sidebar-item">
					                      		<i class="ti ti-users"></i>
					                      		<span class="hide-menu">인사관리</span>
					                    	</a>
					                  	</li>
				                	</th:block>
				                </th:block>

		              </th:block>
		              
		              <!-- ============================= -->
              		  <!-- 접근 :: 결재담당자, 최고관리자 -->
               	 	  <!-- ============================= -->
		              
		              <th:block th:if="${accessibleFuncNoList.contains(16L) or accessibleFuncNoList.contains(37L)}">

					           		<th:block th:each="funcNo : ${accessibleFuncNoList}">
					           			<th:block th:if="${funcNo == 16}">
									    	<li class="sidebar-item">
							                    <a th:href="@{/admin/approval}" class="sidebar-link inner-sidebar-item">
							                      <i class="ti ti-file-text"></i>
							                      <span class="hide-menu">결재 양식 관리</span>
							                    </a>
						                  	</li>
					           			</th:block>
					           		</th:block>
					           		<th:block th:each="funcNo : ${accessibleFuncNoList}">
					           			<th:block th:if="${funcNo == 37}">
									    	<li class="sidebar-item">
							                    <a th:href="@{/admin/approval/list}" class="sidebar-link inner-sidebar-item">
							                      <i class="ti ti-files"></i>
							                      <span class="hide-menu">전체 결재 관리</span>
							                    </a>
						                  	</li>
					           			</th:block>
					           		</th:block>

		      		  </th:block>
		              
		              <!-- ============================= -->
              		  <!-- 접근 :: 근태담당자, 최고관리자 -->
               	 	  <!-- ============================= -->
		              
		              <th:block th:each="funcNo : ${accessibleFuncNoList}">
		              	<th:block th:if="${funcNo == 18}">
		              		<li class="sidebar-item">
					          	<a class="sidebar-link inner-sidebar-item" href="javascript:void(0)" aria-expanded="false">
					            	<span class="rounded-3">
					                	<i class="ti ti-layout"></i>
					                </span>
					                <span class="hide-menu">관리 : 근태</span>
					           	</a>
					           	<ul aria-expanded="false" class="collapse second-level">
					            	<li class="sidebar-item">
					                    <a th:href="@{/attendance/management}" class="sidebar-link inner-sidebar-item">
					                      <i class="ti ti-clock"></i>
					                      <span class="hide-menu">근태관리</span>
					                    </a>
				                  	</li>
			    				</ul>
					         </li>
		              	</th:block>
		              </th:block>
		              
		              <th:block th:each="funcNo : ${accessibleFuncNoList}">
		              	<th:block th:if="${funcNo == 33}">
		              		<li class="sidebar-item">
					          	<a class="sidebar-link inner-sidebar-item" href="javascript:void(0)" aria-expanded="false">
					            	<span class="rounded-3">
					                	<i class="ti ti-layout"></i>
					                </span>
					                <span class="hide-menu">관리 : 연차</span>
					           	</a>
								<ul aria-expanded="false" class="collapse second-level">
					            	<li class="sidebar-item">
					                    <a th:href="@{/annual/management}" class="sidebar-link inner-sidebar-item">
					                      <i class="fas fa-plane"></i>
					                      <span class="hide-menu">연차관리</span>
					                    </a>
				                  	</li>
			    				</ul>
					         </li>
		              	</th:block>
		              </th:block>
		              
		              <!-- ============================= -->
              		  <!-- 접근 :: 회의실담당자, 최고관리자 -->
              		  <!-- ============================= -->
              		  
              		  <th:block th:each="funcNo : ${accessibleFuncNoList}">
		              	<th:block th:if="${funcNo == 28}">
			            	<li class="sidebar-item">
					          	<a class="sidebar-link inner-sidebar-item" href="javascript:void(0)" aria-expanded="false">
					            	<span class="rounded-3">
					                	<i class="ti ti-apps"></i>
					                </span>
					                <span class="hide-menu">관리 : 회의실</span>
					           	</a>
					           	<ul aria-expanded="false" class="collapse second-level">
							        <li class="sidebar-item">
							          <a th:href="@{/admin/meetingRoom}" class="sidebar-link inner-sidebar-item">
							            <i class="ti ti-clipboard-list"></i>
							            <span class="hide-menu">회의실관리</span>
							          </a>
							        </li>
							        <li class="sidebar-item">
							          <a th:href="@{/admin/meetingReservation}" class="sidebar-link inner-sidebar-item">
							            <i class="ti ti-calendar-stats"></i>
							            <span class="hide-menu">예약관리</span>
							          </a>
							        </li>
							      </ul>

				        	</li>
		              	</th:block>
		              </th:block>
              		  
	                </ul>
 				</li>
 			  </th:block>

            </ul>
          </nav>
          <!-- End Sidebar navigation -->
		  
	</th:block>
</html>