@charset "UTF-8";

/* 테마별 로고 표출 제어 (dark-logo / light-logo 동시 표출 방지) */
html[data-bs-theme="dark"] .dark-logo {
	display: none !important;
}
html[data-bs-theme="dark"] .light-logo {
	display: inline-block !important;
}

html[data-bs-theme="light"] .dark-logo,
:root:not([data-bs-theme="dark"]) .dark-logo {
	display: inline-block !important;
}
html[data-bs-theme="light"] .light-logo,
:root:not([data-bs-theme="dark"]) .light-logo {
	display: none !important;
}

.logout-button:hover {
	background-color: #f0f8ff;
	color: #003366;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

.logout-button:hover h6, .logout-button:hover span {
	color: #003366;
}

html[data-bs-theme="dark"] .logo-text {
	color: #e0e0e0;
}

html[data-bs-theme="light"] .logo-text {
	color: #333;
}

.chat-popup-badge {
  position: absolute;
  top: 6px;
  right: 0px;
  font-size: 11px;
  line-height: 16px;
  height: 18px;
  min-width: 18px;
  text-align: center;
  padding: 0 5px;
  z-index: 10;
}

@media (min-width: 992px) {
  .chat-popup-badge {
    top: 2px !important;
  }
}

.chat-message-body {
  max-height: 300px;       /* ✅ 최대 높이 지정 */
  overflow-y: auto;        /* ✅ 세로 스크롤 */
  overflow-x: hidden;      /* 가로 스크롤 방지 */
}

.chat-message-body::-webkit-scrollbar {
  width: 6px;
}
.chat-message-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
.chat-message-body::-webkit-scrollbar-track {
  background-color: transparent;
}


