<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{include/layout :: layout}">
<th:block layout:fragment="content">
	
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	
	<link th:href="@{/css/cjs/dept_create.css}" rel="stylesheet">
	
	<!-- jsTree -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	
	<div class="page-titles mb-7 mb-md-5">
		<div class="row">
			<div class="col-lg-8 col-md-6 col-12 align-self-center">
				<nav aria-label="breadcrumb">
                	<ol class="breadcrumb align-items-center">
                		<li class="breadcrumb-item">
                    		<a class="text-muted text-decoration-none" th:href="@{/home}">
                     			<i class="ti ti-home fs-5"></i>
                    		</a>
                   	 	</li>
						<li class="breadcrumb-item" aria-current="page">인사 담당자 / 부서 관리</li>
                  	</ol>
				</nav><br>
				<h2 class="mb-0 fw-bolder fs-8">부서 관리</h2>
			</div><br>
		</div>
	</div>
	
	<div class="card">
        <div class="card-body">
        	<div class="tab-content" id="pills-tabContent">
            	<div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab" tabindex="0">
					<div class="row">
                    	<div class="col-lg-3 d-flex align-items-stretch">
                    		<div class="card w-100 border position-relative overflow-hidden">
                        		<div class="card-body p-4">
                          			<h4 class="card-title" style="font-weight: bold;">부서</h4>
                          			<br>
  									
  									<th:block th:if="${!#lists.isEmpty(deptList)}">
  									<div class="d-flex justify-content-start mb-3">
   										<button id="expand_all" class="btn btn-sm px-1 py-0 border text-secondary bg-light-subtle me-1">+</button>
   										<button id="collapse_all" class="btn btn-sm px-1 py-0 border text-secondary bg-light-subtle">-</button>
									</div>
									</th:block>
									<th:block th:if="${#lists.isEmpty(deptList)}">
  									<div class="d-flex justify-content-start mb-3">
   										등록된 부서가 없습니다.
									</div>
									</th:block>
									
									<div id="dept-tree">
   										<ul>
									      <li th:each="dept : ${departments}" th:id="'dept_' + ${dept.id}" th:data-parent="'#'">
									         <span th:text="${dept.name}"></span>
									      </li>
									   </ul>
									</div>
									
									<!-- jsTree 데이터 확인용 버튼 -->
  									<!-- <button id="jstree-btn">선택된 노드 보기</button> -->
  									
                        		</div>
                      		</div>
                   		</div>
                   		
                   		<div class="col-lg-5 d-flex align-items-stretch d-none" id="update_dept_div">
                    		<div class="card w-100 border position-relative overflow-hidden">
                        		<div class="card-body p-4">
                        			<form name="update_dept_form">
                          				<h4 class="card-title" style="font-weight: bold;">부서 상세</h4>
                          				<br>
                          				
                          				<div class="mb-3" style="display:none;">
                              				<label for="dept_list" class="form-label">부서목록</label>
                              				<input type="text" class="form-control" id="dept_list" name="dept_list" th:value="${deptList}">
                            			</div>
                          				
                          				<div class="mb-3" style="display:none;">
                              				<label for="dept_no" class="form-label">부서번호</label>
                              				<input type="text" class="form-control" id="dept_no" name="dept_no">
                            			</div>
                            			
                            			<div class="mb-3">
										  <label class="form-label d-block">부서 상태</label>
										
										  <div class="form-check form-check-inline">
										    <input class="form-check-input" type="radio" name="dept_status" id="status_active" th:value="1"
										           th:checked="${dept?.deptStatus == 1}">
										    <label class="form-check-label" for="status_active">활성</label>
										  </div>
										
										  <div class="form-check form-check-inline">
										    <input class="form-check-input" type="radio" name="dept_status" id="status_inactive" th:value="2"
										           th:checked="${dept?.deptStatus == 2}">
										    <label class="form-check-label" for="status_inactive">비활성</label>
										  </div>
										
										  <div class="form-check form-check-inline">
										    <input class="form-check-input" type="radio" name="dept_status" id="status_deleted" th:value="3"
										           th:checked="${dept?.deptStatus == 3}">
										    <label class="form-check-label text-danger fw-bold" for="status_deleted">삭제</label>
										  </div>
										</div>
                          				
                            			<div class="mb-3">
                              				<label for="dept_name" class="form-label">부서명*</label>
                              				<input type="text" class="form-control" id="dept_name" name="dept_name">
                            			</div>
                            			
                            			<div class="mb-3">
                                  			<label for="member_no" class="form-label">부서장</label>
                                  			<select class="form-select" id="member_no" name="member_no" aria-label="dept-chief-member">
                                    			<option selected th:value="0">-</option>
                                    			<option th:each="member : ${memberList}" th:value="${member.memberNo}" th:text="'# ' + ${member.memberNo} + ' ' + ${member.memberName}"></option>
                                  			</select>
                                		</div>
                                		
                                		<div class="mb-3">
                                  			<label for="parent_dept_no" class="form-label">상위 부서</label>
                                  			<select class="form-select" id="parent_dept_no" name="parent_dept_no" aria-label="parent-department">
                                    			<option selected th:value="0">-</option>
                                    			<option th:each="dept : ${deptList}" th:value="${dept.deptNo}" th:text="${dept.deptName}"></option>
                                  			</select>
                                		</div>
                                		
<!--                                		<div class="mb-3">-->
<!--                              				<label for="dept_phone" class="form-label">부서 전화번호</label>-->
<!--                              				<input type="text" class="form-control" id="dept_phone" name="dept_phone">-->
<!--                            			</div>-->
<!--                            			-->
<!--                            			<div class="mb-3">-->
<!--                              				<label for="dept_location" class="form-label">부서 위치</label>-->
<!--                              				<input type="text" class="form-control" id="dept_location" name="dept_location">-->
<!--                            			</div>-->
                            			
                            			<div class="d-flex align-items-center justify-content-end gap-6">
                        					<button type="submit" class="btn btn-primary">수정</button>
                        					<button type="reset" class="btn bg-danger-subtle text-danger" th:onclick="location.href='/home'">취소</button>
                      					</div>		
                      					
                      				</form>
                        		</div>
                      		</div>
                   		</div>
                   		
                   		<div class="col-lg-5 d-flex align-items-stretch" id="none_dept_div">
                    		<div class="card w-100 border position-relative overflow-hidden">
                        		<div class="card-body p-4">
                        			<h4 class="card-title" style="font-weight: bold;">부서 상세</h4>
                          			<br>
                        		
                        			선택된 부서가 없습니다.
                        		</div>
                      		</div>
                   		</div>
                   		
                   		<div class="col-lg-4 d-flex align-items-stretch" id="create_dept_div">
                    		<div class="card w-100 border position-relative overflow-hidden">
                        		<div class="card-body p-4">
                        			<form name="create_dept_form">
                          				<h4 class="card-title" style="font-weight: bold;">부서 등록</h4>
                          				<br>
                          				
                            			<div class="mb-3">
                              				<label for="dept_name" class="form-label">부서명*</label>
                              				<input type="text" class="form-control" id="dept_name" name="dept_name">
                            			</div>
                            			
                            			<div class="mb-3">
                                  			<label for="member_no" class="form-label">부서장</label>
                                  			<select class="form-select" id="member_no" name="member_no" aria-label="dept-chief-member">
                                    			<option selected th:value="0">-</option>
                                    			<option th:each="member : ${memberWithoutDept}"
                                    					th:if="${member.memberNo != 1}"
                                    					th:value="${member.memberNo}"
                                    					th:text="'# ' + ${member.memberNo} + ' ' + ${member.memberName}"></option>
                                  			</select>
                                		</div>
                                		
                                		<div class="mb-3">
                                  			<label for="parent_dept_no" class="form-label">상위 부서</label>
                                  			<select class="form-select" id="parent_dept_no" name="parent_dept_no" aria-label="parent-department">
                                    			<option selected th:value="0">-</option>
                                    			<option th:each="dept : ${deptList}" th:if="${dept.deptNo}" th:value="${dept.deptNo}" th:text="${dept.deptName}"></option>
                                  			</select>
                                		</div>
                                		
<!--                                		<div class="mb-3">-->
<!--                              				<label for="dept_phone" class="form-label">부서 전화번호</label>-->
<!--                              				<input type="text" class="form-control" id="dept_phone" name="dept_phone">-->
<!--                            			</div>-->
<!--                            			-->
<!--                            			<div class="mb-3">-->
<!--                              				<label for="dept_location" class="form-label">부서 위치</label>-->
<!--                              				<input type="text" class="form-control" id="dept_location" name="dept_location">-->
<!--                            			</div>-->
                            			
                            			<div class="d-flex align-items-center justify-content-end gap-6">
                        					<button type="submit" class="btn btn-primary">등록</button>
                        					<button type="reset" class="btn bg-danger-subtle text-danger" th:onclick="location.href='/home'">취소</button>
                      					</div>
                      				</form>
                        		</div>
                      		</div>
                   		</div>
                  	</div>            	
                </div>
			</div>
		</div>
	</div>
	
	<!-- 부서 이관 모달 부트스트랩5 기반 -->
	<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content shadow-lg rounded-3">
	      <div class="modal-header">
	        <h5 class="modal-title" id="transferModalLabel">이관할 부서를 선택하세요</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
	      </div>
	      <div class="modal-body">
	        <!-- jsTree 영역 -->
	        <div id="transferTree" class="border rounded p-2" style="max-height: 400px; overflow-y: auto;"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" onclick="submitDeptForm()">이관</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- hidden input (필요 시 form 안에 넣기) :: form 쓰지 말고 그냥 바로 onclick 넣는 방식이 편한듯 -->
	<input type="hidden" id="transfer_dept_no" name="transfer_dept_no">
	
	<script>
		// 부서 추가 로직
		const form = document.create_dept_form;
		
		form.addEventListener('submit',async (event) => {
			event.preventDefault();
			
			// 1. 유효성 검사
			let vali_chk = false;
			let vali_msg = "";
			
			if(!form.dept_name.value) {
				vali_msg += "부서명을 입력하세요";
				form.dept_name.focus();
			} else {
				vali_chk = true;
			}
			
			if(vali_chk == false) {
				alert(vali_msg);
			} else {
				// 2. 부서 등록
				const payload = new FormData(form);
				
				if(form.member_no.value !== "0") {
					payload.append("member_no", form.member_no.value);
				}
				
				if(form.parent_dept_no.value !== "0") {
				    payload.append("parent_dept_no", form.parent_dept_no.value);
				}
				
				fetch('/admin/dept/create', {
					method : "post",
					headers : {
						'header': document.querySelector('meta[name="_csrf_header"]').content,
						'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
					},
					body : payload
				})
				.then(response => response.json())
				.then(async data => {
					await alert(data.res_msg);
					if(data.res_code == '200') {
						location.href = "/admin/dept/create";
					}
				})
				.catch(error => {
					console.log(error);
				})
			}
		});
	</script>
	
	<script>
		$('#dept-tree').on('click', '.jstree-anchor', function (e) {
			e.stopPropagation();
											
			const nodeEl = $(this).closest('li'); 	// 해당 anchor의 상위 li로 접근해서
			const fullId = nodeEl.attr('id'); 		// 해당 li의 id값을 추출
																						
			const deptId = fullId?.replace('dept_', ''); // 클릭한 부서의 id를 추출
			
			if (deptId != null) {
				$("#update_dept_div").removeClass("d-none");
				$("#none_dept_div").addClass("d-none");
				
				$.ajax({
					type: "get",
					url: "/admin/dept/select",
					data: {
						deptId : deptId
					},
					success: function(data) {
						const currentDeptNo = data.deptNo;
						const currentMemberNo = data.memberNo;
						
						$('form[name="update_dept_form"] input[name="dept_no"]').val(Number(data.deptNo));
						$('form[name="update_dept_form"] input[name="dept_status"][value="' + data.deptStatus + '"]').prop('checked', true);
						$('form[name="update_dept_form"] input[name="dept_name"]').val(data.deptName);
						$('form[name="update_dept_form"] select[name="member_no"]').val(Number(data.memberNo));
						
						$('form[name="update_dept_form"] select[name="parent_dept_no"]').val(Number(data.parentDeptNo));
						
						const parentSelect = $('form[name="update_dept_form"] select[name="parent_dept_no"]');
						parentSelect.find('option').each(function() {
							if ($(this).val() === String(currentDeptNo)) {
								$(this).css('display', 'none');
							} else {
								$(this).css('display', 'block');
							}
						});

						$('form[name="update_dept_form"] input[name="dept_phone"]').val(data.deptPhone);
						$('form[name="update_dept_form"] input[name="dept_location"]').val(data.deptLocation);
						
						const memberSelect = $('form[name="update_dept_form"] select[name="member_no"]');
		                memberSelect.empty();
		                
		                memberSelect.append(
		                    $('<option>').val(0).text('-')
		                );

		                // 멤버 데이터 추가
		                data.members.forEach(member => {
		                    memberSelect.append(
		                        $('<option>').val(member.member_no).text('# ' + member.member_no + ' ' + member.member_name)
		                    );
		                });

		                if (currentMemberNo) {
		                    memberSelect.val(currentMemberNo);
		                } else {
		                    memberSelect.val(0);
		                }
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
		});
										
		$(document).on("click", function (e) {
			// 트리 안쪽이 아닌 다른 곳을 클릭했을 경우
			if (!$(e.target).closest('#dept-tree').length) {
				if (
					!$(e.target).closest('#dept-tree').length && 
					!$(e.target).closest('#update_dept_div').length &&
					!$(e.target).closest('#create_dept_div').length
				) {
					$("#update_dept_div").addClass("d-none");
					$("#none_dept_div").removeClass("d-none");
				}
			}
		});
	</script>
	
	<script>
		// 부서 수정 로직
		const updateForm = document.update_dept_form;
		let selectedDeptNo = null;
		
		updateForm.addEventListener('submit', async (event) => {
			event.preventDefault();
			
			// 1. 유효성 검사
			let vali_chk = false;
			let vali_msg = "";
			
			if(!updateForm.dept_name.value) {
				vali_msg += "부서명을 입력하세요";
				updateForm.dept_name.focus();
			} else {
				vali_chk = true;
			}
			
			if(vali_chk == false) {
				alert(vali_msg);
			} else {
				const status = updateForm.dept_status.value;
				
				if (status == 3) {
					if(await confirm("해당 부서는 삭제 처리되며, 조직도에서 영구적으로 사라집니다.\n" +
				             "소속된 직원들이 있을 경우 이관할 부서를 선택하세요.\n" +
		             "소속된 직원들이 없다면 선택하지 않으셔도 됩니다.\n\n계속 진행하시겠습니까?")) {
						openTransferModal();
						return;
					}
					
					alert("삭제 처리를 취소하셨습니다.");
					
					return;
				}
				
				if(await confirm("정말로 수정하시겠습니까?")) {
					submitDeptForm();
					return;
				}
				
			}
		});
		
		function submitDeptForm() {
			// 2. 부서 수정
			const payload = new FormData(updateForm);
			
			if (selectedDeptNo !== null) {
				payload.append("transferDeptNo", selectedDeptNo);
			}
			
			fetch('/admin/dept/update', {
				method : "post",
				headers : {
					'header': document.querySelector('meta[name="_csrf_header"]').content,
					'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
				},
				body : payload
			})
			.then(response => response.json())
			.then(async data => {
				await alert(data.res_msg);
				if(data.res_code == '200') {
					location.href = "/admin/dept/create";
				}
			})
			.catch(error => {
				console.log(error);
			})
		};
		
		// 이관 모달에서 jsTree를 열어주는 함수
		function openTransferModal() {
			getAvailableDeptsForTransfer().then(data => {	
				$('#transferTree').jstree("destroy").empty();

				$('#transferTree').jstree({
					'core': {
						'data': data
					}
				});
		
				selectedDeptNo = null;
				
				$('#transferTree').on("select_node.jstree", function (e, data) {
					const selectedNode = data.node;
					selectedDeptNo = selectedNode.id;
				});
				
				const modal = new bootstrap.Modal(document.getElementById('transferModal'));
				modal.show();
			});
		}
		
		function getAvailableDeptsForTransfer() {
			return fetch('/admin/dept/tree', {
					method: 'get'
				})
				.then(data => data.json())
				.catch(error => {
					console.error(error);
					return [];
				});
		}
		
	</script>

	<!-- Bootstrap Common JS Files Start -->
	
	<!-- Import vendorJs Files -->
	<script th:src="@{/assets/js/vendor.min.js}"></script>
	
  	<!-- Import Js Files -->
  	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  	<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}"></script>
  	<script th:src="@{/assets/js/theme/app.init.js}"></script>
  	<script th:src="@{/assets/js/theme/theme.js}"></script>
  	<script th:src="@{/assets/js/theme/app.min.js}"></script>
  	<script th:src="@{/assets/js/theme/sidebarmenu.js}"></script>
	
  	<!-- solar icons -->
  	<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  	<script th:src="@{/assets/libs/owl.carousel/dist/owl.carousel.min.js}"></script>
  	<script th:src="@{/assets/libs/apexcharts/dist/apexcharts.min.js}"></script>
  	<script th:src="@{/assets/js/dashboards/dashboard.js}"></script>
  	
  	<!-- Bootstrap Common JS Files End -->
  	
  	<!-- jsTree -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	<script th:src="@{/js/cjs/jstree.js}"></script>

</th:block>
</html>